html{
    font-family: 'Source Sans Pro', sans-serif;
    color:#1a1a1a ;
 }

 .background{
    /*background: #d8d8d8;*/
    background: rgba(216, 216, 216, 0.5);
 }
 
 header{
    text-align: center;
    display: flex;
    flex-direction: column;

 }
 header h1{
    margin: 0;
    padding: 2px;
 }
 
 li{
    list-style: none;
    padding: 2px;
 }
 ul{
    padding: 0;
 }

 .journey-image{
    background: url(banner.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .journey-text{
    text-align: center;
    font-size: 2em;
    padding: 1em;
    border-radius: 10px;
 }
 a{
    text-decoration: none;
    color: #1a1a1a;
 }
 .wrapper{
    display: flex;
    flex-direction: column;
 }
 article, .sidebar-widget{
    padding: 15px;
    margin: 15px 0;
 }
 article > header{
    background:#d8d8d8;

 }
 img{
    width: 100%;
 }
 i{
    margin: 0 30px;
 }
a:hover{
    color: black;
    font-weight: 900;

    
}
td:nth-child(2){
    padding-left:30px ;
}

footer {
    text-align: center;
    padding: 0.5px;
    margin: 5px;
    background-color:rgba(216, 216, 216, 0.5);
    color: #1a1a1a;
  }
 @media (min-width:1000px) {
    body{
        max-width: 1600px;
        margin: 0 auto;
    }
    
    
    header{
        flex-direction: row;
    }
    header li{
        display: inline-block;
    }
    header h1,header nav {
        flex: 1;


    }
    header h1{
        text-align: left;
    }
    header nav{
        text-align: right;
        
    }
/*blog*/
.wrapper{
    flex-direction: row;
}

main{
    flex: 3;

}
aside{
    flex: 1;
    margin-left: 15px;
}
article > header {
    justify-content: space-between;

}
    
    
 }
